@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;1,300&display=swap');

body {
    background-color: #121212;
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: white;
}

.imagen-cancion {
    max-width: 100px;
    height: auto;
}

td,
th {
    vertical-align: middle;
}